.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 5vh;
    background-color: #6824a3;
    color: #fff;
    font-family: 'knilebold', sans-serif;
    text-align: center; 
    border-radius: 10px; /* For adding rounded corner */
  }
  
  /* Header styling */
  .login-container h1, .login-container h2 {
    margin: 10px 0; /* Add space above and below headers */
  }
  
  .login-container p {
    text-align:left;
  }
  /* Input styling */
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px; 
    border: none;
    border-radius: 5px;
  }
  .login-container .small{
    text-align: right;
    font-size: small;
    margin-top: 7px;
  }
  /* .login-container a.links {
    color: white;
  }
  
  .login-container a.links:hover {
    color: aqua;
  } */
  .login-container .msg{
    text-align: left;
    font-size: small;
  }
 
  /* Checkbox styling */
  .login-container label {
    /* display: flex;  */

    align-items: left;
    text-align: left; 
    margin: 10px 0; 
    font-weight: bold;
  }
  
  /* Error message styling */
  .login-container .error {
    color: red;
    margin-top: 5px;
    font-size: small;
    text-align: right;
  }
  
  /* Button styling */
  .login-button {
    background-color: #401664;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
 
  
